:root {
	--primary: white;
	--secondary: #7AC142; /*green*/
	--background: black;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.goblin-one-regular {
  font-family: "Goblin One", serif;
  font-weight: 400;
  font-style: normal;
}

.smokum-regular {
  font-family: "Smokum", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif, "Goblin One","Smokum", Helvetica, Arial, sans-serif;
}

body {
	color: var(--primary);
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

header, footer, main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

p,
pre,
code {
	line-height: 1.5;
}

small {
	font-family: sans-serif;
	font-size: .6em;
}

a[href],
a[href]:visited {
	color: var(--secondary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

header {
	text-align: right;
}

footer {
	text-align: center;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	list-style: none;
	margin-top: 0;
	padding: 0;
	position: relative;
	z-index:10;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	font-size: .75em;
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"], header nav li a[data-current="current item"]:visited {
	background-color: var(--secondary);
	color: var(--background);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--secondary);
	color: black;
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: .5em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: black;
	cursor: pointer;
}

button:hover {
	border: 1px solid var(--primary);
	color: 1px solid var(--primary);
}

@media screen and (min-width:768px) {

	header, footer, main {
		width: 48em;
	}
	header a img {
		width: 100%;
	}
	.home main img {
		margin-top: -6em;
	}
	:root {
		font-size: 1.1rem;
	}
}
