<footer>
  <div>
    <a href="https://facebook.com/sidehustlersband" target="_blank"><img src="/static/img/facebook-logo.svg" alt="facebook logo"></a>
  </div>
  <small>
    Created by <a href="https://happeninginteractive.com">Happening Interactive</a>.
    Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
  </small>
</footer>
