---
layout: layouts/base.njk
section: home
---

{{ content | safe }}

<p>Side Hustlers, "Grits Ain't Groceries"</p>
<audio style="width: 100%;" src="static/audio/Grits%20Ain%27t%20Groceries.mp3" autobuffer controls>Grits Ain't Groceries</audio>

{% include "components/form-mailing-list.njk" %}