---
layout: layouts/base.njk
section: home
---

{{ content | safe }}

<p>Side Hustlers, "Grits Ain't Groceries"</p>
<audio style="width: 100%;" src="/static/audio/Side%20Hustlers%20-%20Grits%20Ain%27t%20Groceries.mp3" autobuffer controls>Grits Ain't Groceries</audio>

<p>Side Hustlers, "Take My Love (I Wanna Give It All To You)"</p>
<audio style="width: 100%;" src="/static/audio/Side%20Hustlers%20-%20Take%20My%20Love.mp3" autobuffer controls>Take My Love (I Wanna Give It All To You)</audio>
{% include "components/form-mailing-list.njk" %}